@import '../../../../assets/styled/globalVariables.scss';
.book {
   &__infos {
      // width: 100%;
      padding: 20px;
      flex: 1;
      &--title {
         font-size: $fz-xxlarge;
         font-weight: $fw-bold;
         margin: 10px 0;
      }
      .ant-rate {
         margin-bottom: 20px;
      }
      &--description {
         font-size: $fz-base;
         font-style: italic;
         color: $color-grey;
         margin-bottom: 40px;
         max-width: 400px;
         @media screen and (max-width: 767px) {
            text-align: justify;
         }
      }
      @media screen and (max-width: 767px) {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
      }
   }
}
