@import './assets/styled/globalVariables.scss';
html,
body {
   box-sizing: border-box;
   font-family: $font-primary;
   font-size: $fz-base;
   line-height: $line-height-base;
   color: $color-dark;
}
* {
   margin: 0;
   padding: 0;
}
*,
*:before,
*:after {
   box-sizing: border-box;
}
input,
textarea,
select,
button {
   outline: none;
}
input {
   line-height: normal;
}
label,
button {
   cursor: pointer;
}
a {
   text-decoration: none;
}
img {
   display: block;
   max-width: 100%;
}
li {
   list-style: none;
}
