@import '../../../../../assets/styled/globalVariables.scss';

.section__allbooks {
   padding: 40px 0 60px;
   &--list {
      padding: 0 15px;
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
   }
}
