@import '../../../assets/styled/globalVariables.scss';
.header__navigation {
   ul {
      display: flex;
      align-items: center;
      gap: 30px;
      li {
         a {
            font-weight: $fw-bold;
            font-size: $fz-large;
            color: $color-dark-blue;
            &:hover {
               color: $pink;
            }
         }
      }
   }
}
