@import '../../../../../assets/styled/globalVariables.scss';
.section__bestbooks {
   padding: 40px 0 60px;
   &--list {
      --f-columns: 5;
      --f-gap: 20px;
      display: flex;
      flex-wrap: nowrap;
      margin-left: calc(-1 * var(--f-gap));
      margin-bottom: calc(-1 * var(--f-gap));
      overflow-x: auto;
      > * {
         max-width: unset;
         min-width: 200px;
         margin-left: var(--f-gap);
         margin-bottom: var(--f-gap);
         width: calc((100% / var(--f-columns) - var(--f-gap)));
      }
   }
}
