@import '../../../../../assets/styled/globalVariables.scss';
.section__bestbooks {
   padding: 40px 0 60px;
   &--list {
      --f-columns: 5;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      gap: 10px;
      padding-top: 10px;
      padding-bottom: 15px;
      > * {
         max-width: unset;
         min-width: 232px;
         width: calc(100% / var(--f-columns));
      }
   }
}
