@import '../../../assets/styled/globalVariables.scss';
.user__inner {
   display: flex;
   gap: 10px;
   align-items: center;
   background-color: $bgc-pink;
   padding: 6px;
   padding-right: 10px;
   border-radius: 100rem;
   max-width: 150px;
   .ant-avatar {
      flex-shrink: 0;
   }
   .ant-typography {
      margin: 0;
      color: $color-white;
      cursor: pointer;
      font-size: $fz-base;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
   }
   .ant-select {
      border-radius: inherit;
   }
   .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      flex: 1;
      border-radius: inherit;
      border: none;
   }
   .ant-select-selector {
      background-color: $bgc-grey !important;
   }
   .btn__disEffect {
      &:hover {
         transform: translate(0, 0);
      }
   }
}
