$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Relaway', sans-serif;

$bgc-light: #f8f4f1;
$bgc-grey: #f8f7f9;
$bgc-white: #ffffff;
$bgc-pink: #ff5857;
$bgc-blue: #5959d9;
$bgc-dark-blue: #000a47;

$puple: #9d59d9;
$pink: #ff6160;
$yellow: #d2bd74;

$color-dark: #000036;
$color-dark-blue: #000a47;
$color-white: #ffffff;
$color-grey: #7e818d;

$line-height-base: 1.5;
$line-height-small: 1.2;
$line-height-large: 1.8;

$fw-blod: 700;
$fw-normal: 400;
$fw-light: 300;
