@import '../../../../assets/styled/globalVariables.scss';
.book__image {
   display: flex;
   justify-content: center;
   gap: 15px;
   padding: 20px;
   &--large {
      > img {
         width: 100%;
         max-width: 400px;
         border-radius: 6px;
         aspect-ratio: 3 / 4;
         object-fit: cover;
         @media screen and (max-width: 992px) {
            max-width: unset;
         }
      }
   }
   &--lib {
      max-width: 100px;
      .slick-list {
         height: 450px !important;
         @media screen and (max-width: 767px) {
            height: unset;
         }
      }
      img {
         width: 100%;
         border-radius: 6px;
         aspect-ratio: 3/4;
         object-fit: cover;
      }
   }
   @media screen and (max-width: 767px) {
      flex-direction: column;
      &--large {
         > img {
            aspect-ratio: 1;
         }
      }
      &--lib {
         max-width: unset;
         img {
            width: 100%;
            border-radius: 6px;
            aspect-ratio: 16/9;
            object-fit: cover;
         }
         .slick-slide {
            padding: 5px;
            text-align: center;
            margin-right: 5px;
            margin-left: 5px;
         }
      }
   }
}
