@import '../../../../assets/styled/globalVariables.scss';
.book__image {
   display: flex;
   justify-content: center;
   gap: 15px;
   padding: 10px;
   height: fit-content;
   width: 50%;
   &--large {
      width: 80%;
      > img {
         width: 100%;
         border-radius: 6px;
         aspect-ratio: 3 / 4;
         object-fit: cover;
         @media screen and (max-width: 992px) {
            max-width: unset;
         }
      }
   }
   &--lib {
      width: 20%;
      max-width: 100px;
      height: 100%;
      img {
         width: 100%;
         border-radius: 6px;
         aspect-ratio: 3/4;
         object-fit: cover;
      }
   }
   @media screen and (max-width: 992px) {
      width: 45%;
   }
   @media screen and (max-width: 767px) {
      gap: 5px;
      width: 100%;
   }
}
