@import '../../assets/styled/globalVariables.scss';
.navigation {
   background-color: $bgc-grey;
   &__top {
      padding: 22px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &--inner {
         display: flex;
         gap: 10px;
         .btn__dot {
            &::before {
               box-shadow: 0 0 0 6px $bgc-grey;
            }
         }
         .btn__login {
            color: $color-white;
         }
      }
   }
}
