@import '../../assets/styled/globalVariables.scss';
.navigation {
   background-color: $bgc-grey;
   &__top {
      padding: 22px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &--inner {
         display: flex;
         gap: 10px;
         .btn__dot {
            &::before {
               box-shadow: 0 0 0 6px $bgc-grey;
            }
         }
         .btn__login {
            color: $color-white;
         }
      }
   }
   &__bottom {
      display: flex;
      justify-content: space-between;
      &--collection {
         ul {
            display: flex;
            gap: 20px;
            li {
               a {
                  font-weight: $fw-bold;
                  font-size: $fz-large;
                  color: $color-dark-blue;
               }
            }
         }
         @media screen and (max-width: 996px) {
            display: none;
         }
      }
      &--basket {
         display: flex;
         align-items: center;
         gap: 15px;
         ul {
            display: flex;
            gap: 20px;
            li {
               a {
                  font-weight: $fw-bold;
                  font-size: $fz-xlarge;
                  color: $pink;
                  &:hover {
                     color: $color-dark-blue;
                  }
               }
            }
         }
         p {
            font-weight: $fw-bold;
            font-size: $fz-large;
            color: $color-dark-blue;
         }
         @media screen and (max-width: 996px) {
            display: none;
         }
      }
      @media screen and (max-width: 996px) {
         justify-content: center;
      }
   }
}
